.social
  ul.social__list
    li.social__item
      a.social__link(href="#" target="_blank" rel="noopener") Vkontakte
        //- svg: use(xlink:href="#vkontakte")
    li.social__item
      a.social__link(href="#" target="_blank" rel="noopener") Instagram
        //- svg: use(xlink:href="#instagram")