.social {

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
  }

  &__item {
    display: inline-block;
    margin-bottom: 0.25em;
  }

  &__link {
    color: $gray;
    text-transform: lowercase;
  }
}