.preload {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: $gray-darker;
  z-index: 9999;
  visibility: hidden;
  transition: width 1s ease 0s,
              visibility 0s ease 1s;

  &--is-active {
    visibility: visible;
    width: 100%;
  }
}