.underlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $gray-darker;
  z-index: 9;
  transform: translateX(100%);
  visibility: hidden;
  transition: all 0.65s cubic-bezier(.76,.06,.06,.98) 0.2s;

  &--is-active {
    transform: translateX(0);
    visibility: visible;
    transition: all 0.7s cubic-bezier(.76,.06,.06,.98) 0.1s;
  }
}
