.price {
  margin-bottom: 5em;

  &__title {

    @media (min-width: $screen-sm) {
      font-size: 50px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column wrap;

    @media (min-width: $screen-sm) {
      flex-flow: row wrap;
    }
  }

  &__desc {

    p {
      max-width: 25em;
    }
  }

  &__info {
    margin-left: 5em;
  }

  &__group {
    position: relative;
    margin-bottom: ($line-height * 1) + em;
    line-height: $line-height;

    dt {
      position: absolute;
      top: 0;
      left: 0;
    }

    dd {
      padding-left: 4em;
    }
  }
}