.nav {

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    transform: translateX(5em);
    transition: transform 0.625s cubic-bezier(.35,.97,.53,.93);

    $delay: 600ms;
    @for $item from 1 through 4 {

      &:nth-child(#{$item}) {
        transition-delay: $delay + ($item * 25);
      }
    }
  }

  &__link {
    color: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6em;

    @media (min-width: $screen-sm) {
      font-size: 54px;
      line-height: 1.5em;
    }

    @media (min-width: $screen-md) {
      font-size: 72px;
      line-height: 1.3em;
    }
  }
}