.brief {
  min-height: 100vh;
  padding: 1em;
  padding-top: 20em;
  padding-bottom: 20em;

  &__inner {

    @media (min-width: $screen-sm) {
      margin-left: 10vw;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.6em;
    max-width: 22em;
  }

  strong {
    display: block;
    font-size: 2.5em;
    line-height: 1.1em;
    max-width: 15em;
  }
}