.services
  section.services__section.services__section--portrait
    h2.services__title Portrait
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad vero eos maxime aspernatur, blanditiis est illum delectus necessitatibus impedit mollitia perferendis cupiditate culpa ut laudantium doloribus voluptatum. Nam, distinctio. Optio?
  .services__cover.services__cover--portrait

  section.services__section.services__section--fashion
    h2.services__title Fashion
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit numquam labore illum libero laborum odit culpa quisquam tempora reiciendis veritatis qui possimus et, quidem quod nesciunt, sed magni. Sapiente, reiciendis.
  .services__cover.services__cover--fashion

  section.services__section.services__section--wedding
    h2.services__title Wedding
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sunt, ad minima doloribus doloremque nesciunt eveniet numquam asperiores, minus ut vitae maxime dolor. Voluptas ut repellendus nihil, consequatur, ab nostrum.
  .services__cover.services__cover--wedding

  section.services__section.services__section--around
    h2.services__title Around
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quidem necessitatibus magnam debitis distinctio est maiores blanditiis placeat odio nobis sunt sed, asperiores, ea porro explicabo nostrum esse totam commodi?
  .services__cover.services__cover--around