.services {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__section {
    margin: 3em 0;
    min-height: 40vh;
    position: relative;
    cursor: pointer;
    color: inherit;
    transition: color 0.25s cubic-bezier(0.63,0.21,0.32,0.83) 0s;

    @media (min-width: $screen-sm) {
      margin: 3em;
      min-width: 400px;
    }

    p {
      max-width: 30em;
    }

    &:hover {
      color: $gray-lightest;
    }

    &--is-active {
      color: $gray-lightest;
    }

    &--portrait {

      &:hover {

        & ~ .services__cover--portrait {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &--fashion {

      &:hover {

        & ~ .services__cover--fashion {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &--wedding {

      &:hover {

        & ~ .services__cover--wedding {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &--around {

      &:hover {

        & ~ .services__cover--around {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.5s cubic-bezier(.41,.92,.53,.98) 0s;

    &--portrait {
      background-image: url(../img/portrait.jpg);
    }

    &--fashion {
      background-image: url(../img/fashion.jpg);
    }

    &--wedding {
      background-image: url(../img/wedding.jpg);
    }

    &--around {
      background-image: url(../img/around.jpg);
    }
  }

  &--is-active {
    opacity: 1;
    visibility: visible;
  }
}