.prices {
  padding: 1em;
  padding-top: 10em;
  padding-bottom: 10em;

  &__title {
    line-height: 1.2em;

    @media (min-width: $screen-lg) {
      font-size: 150px;
      margin-left: 10vw;
    }
  }

  &__group {

    @media (min-width: $screen-lg) {
      margin-left: 25vw;
    }
  }
}