article.prices
  .prices__inner
    h1.prices__title Prices
  .prices__group
    section.price
      h2.price__title Studio Portrait
      .price__content
        .price__desc
          p A look is one clothing outfit and hair style and make-up. A second look would include a second outfit and slight hair and make-up alteration if needed. The USB upgrade includes your images on a custom USB printable up to 5X7 with an included print release. Online gallery is a private password protected viewing  and ordering gallery of your images. In each level you are given a maximum time limit to ensure that we have plenty of time to bring out your artistic styles and capture what we need to represent your personality.
        dl.price__info
          .price__group
            dt 2 hours
            dd 6 000 &#8381;
            dd 20 photos
          .price__group
            dt 3 hours
            dd 8 000 &#8381;
            dd 35 photos

    section.price
      h2.price__title Wedding
      .price__content
        .price__desc
          p A look is one clothing outfit and hair style and make-up. A second look would include a second outfit and slight hair and make-up alteration if needed. The USB upgrade includes your images on a custom USB printable up to 5X7 with an included print release. Online gallery is a private password protected viewing  and ordering gallery of your images.
        dl.price__info
          .price__group
            dt 6 hours
            dd 15 000 &#8381;
            dd 3 000 &#8381; per hour

    section.price
      h2.price__title Family
      .price__content
        .price__desc
          p Let me capture your family memories to share for generations to come!  First I will consult with you on what you wish to convey in your portrait session. I will do my best to capture your family's spirit and create portraits in which you will be proud to frame and hang in your home and give as gifts to your relatives! I can come to your home or meet you in your favorite location. Does your family love to fish, ride bikes, go camping or just hang out on the front porch? Whatever it is , I will be there to capture the moments you share!
          p This family Portrait Package includes the session , of up to two hours.  I will professionally edit each and every one of your pictures with my award winning professional editing techniques to insure ultimate quality. I also include a painted portrait sample. I will upload the best of the session to a gallery where you may view, share and choose your print package.
        dl.price__info
          .price__group
            dt 2 hours
            dd 6 000 &#8381;
            dd 20 photos
          .price__group
            dt 3 hours
            dd 8 000 &#8381;
            dd 35 photos