.page-footer {
  background-color: #212121;
  color: $gray-lighter;
  min-height: 50vh;
  padding: 5%;
  padding-top: 5em;
  padding-bottom: 5em;

  &__inner {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__desc {

    p {
      margin: 0;
      margin-bottom: 0.75em;
      max-width: 20em;
    }
  }

  &__copyright {
    flex: 100%;
    padding-top: 5em;

    a {
      color: currentColor;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 0.75em;
    font-size: 1em;
  }
}