footer.page-footer(role="contentinfo")
  .page-footer__inner
    .page-footer__desc
      p
        strong Maria Azarova

    .page-footer__address
      h4.page-footer__subtitle Contact
      include ../address/address
    .page-footer__follow
      h4.page-footer__subtitle Social
      include ../social/social
    .page-footer__copyright
      small
        | © 2017 All Rights Reserved <br>
        | Created by
        |
        a(href="fineobscure.com") Fineobscure