.nav-menu
  .nav-menu__inner
    .nav-menu__portfolio
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="#") Portrait
          li.nav__item
            a.nav__link(href="#") Fashion
          li.nav__item
            a.nav__link(href="#") Wedding
          li.nav__item
            a.nav__link(href="#") Around
    .nav-menu__contact
      .nav-menu__contact-group
        h3.nav-menu__contact-title Contact
        ul.nav-menu__contact-list
          li: a(href="tel:+79046339401") +79046339401
          li: a(href="mailto:azarovvva@gmail.com") azarovvva@gmail.com
      .nav-menu__contact-group
        h3.nav-menu__contact-title Social
        ul.nav-menu__contact-list
          li: a(href="#" target="_blank" rel="noopener") Vkontakte
          li: a(href="#" target="_blank" rel="noopener") Instagram