$background-color:          #212121;
$color:                     $gray-lighter;

.nav-menu {
  position: fixed;
  background-color: $background-color;
  color: $color;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(.76,.06,.06,.98) 0.125s;
  overflow-y: scroll;

  &__inner {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    padding: 6em 2em 6em 2em;

    @media (min-width: $screen-sm) {
      padding: 6em 4em 6em 4em;
    }

    @media (min-width: $screen-md) {
      flex-flow: row nowrap;
      padding-top: 20vh;
    }
  }

  &__portfolio {
    margin-bottom: 3em;

    @media (min-width: $screen-sm) {
      width: 50%;
      padding-top: 3em;
    }

    @media (min-width: $screen-md) {
      width: 60%;
    }
  }

  &__contact {

    @media (min-width: $screen-sm) {
      width: 50%;
    }

    @media (min-width: $screen-md) {
      width: 40%;
      padding: 3em;
      padding-top: 4em;
    }
  }

  &__contact-group {
    $delay: 900ms;

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    & > h3 {
      opacity: 0;
      transition: opacity 1s ease;
    }

    & li {
      opacity: 0;
      transition: opacity 1s ease;
    }

    &:nth-child(1) {

      & > h3 {
        transition-delay: $delay;
      }

      li {

        &:nth-child(1) {
          transition-delay: $delay + 50ms;
        }

        &:nth-child(2) {
          transition-delay: $delay + 100ms;
        }
      }
    }

    &:nth-child(2) {

      & > h3 {
        transition-delay: $delay + 150ms;
      }

      li {

        &:nth-child(1) {
          transition-delay: $delay + 200ms;
        }

        &:nth-child(2) {
          transition-delay: $delay + 250ms;
        }
      }
    }
  }

  &__contact-title {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    color: $gray-lightest;
    margin-bottom: 0.5em;
  }

  &__contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    li {
      line-height: 1.3em;

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }

      a {
        color: $gray;
        text-transform: lowercase;
      }
    }
  }

  &--is-active {
    transform: translateX(0);
    transition: all 0.7s cubic-bezier(.76,.06,.06,.98) 0.3s;
    visibility: visible;

    .nav__item {
      transform: translateX(0);
    }

    .nav-menu__contact-group {

      & > h3 {
        opacity: 1;
      }

      li {
        opacity: 1;
      }
    }
  }
}