$burger-width:     80px;
$burger-height:    70px;

.burger {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 11;
  cursor: pointer;
  width: $burger-width;
  height: $burger-height;

  @media (min-width: $screen-sm) {
    top: 3em;
    right: 5em;
  }

  & > span {
    position: absolute;
    content: '';
    background-color: $text-color;
    height: 2px;
    border-radius: 2px;
    transition:
      background 0.2s cubic-bezier(.63,.21,.32,.83) 0.5s,
      width 0.3s cubic-bezier(.87,.02,.1,.99) 0.1s;

    &:first-child {
      left: 15px;
      top: 30px;
      width: 50px;
    }

    &:last-child {
      right: 15px;
      bottom: 30px;
      width: 20px;
    }
  }

  &:hover {

    & > span {

      &:first-child {
        width: 20px;
      }

      &:last-child {
        width: 50px;
      }
    }
  }

  &--is-active {
    transition: all 0.05s cubic-bezier(0.63,0.21,0.32,0.83) 0s;

    & > span {
      background-color: $gray-lighter;
    }
  }
}