doctype html
html(lang="ru")
  include ./_include/page-head
  title Document
  meta(name="description" content="")
  body
    //- include ./blocks/sprite-svg/img/sprite-svg.svg
    include ./blocks/preload/preload
    include ./blocks/burger/burger
    include ./blocks/nav-menu/nav-menu
    include ./blocks/about-underlayer/about-underlayer
    include ./blocks/promo/promo
    include ./blocks/services/services
    include ./blocks/brief/brief
    include ./blocks/prices/prices
    include ./blocks/page-footer/page-footer

  include ./_include/page-bottom