a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  background-color: $gray-lightest;
  font-size: #{$base-font-size--desktop + '%'}; // 112.5% = 18 pixels
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
  transition: background-color 0.5s ease 0s;
}

.bg-change {
  background-color: #212121;
  color: $gray-light;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  max-width: 35em;
  line-height: $line-height;
}

h1, h2, h3, h4 {
  font-weight: 700;
  font-style: normal;
}

small {
  font-size: $font-size--small;
}

b,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}

.prevent-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes bg-change {
  to {
    background-color: #212121;
    color: $gray-light;
  }
}