@keyframes appear {

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.main-title {
  display: none;
  margin: 0;
  font-size: 50px;
  user-select: none;

  @media (min-width: $screen-sm) {
    font-size: 100px;
  }

  span {
    opacity: 0;
    visibility: hidden;
    display: inline-block;

    $delay: 1000ms;
    @for $item from 1 through 12 {

      &:nth-child(#{$item}) {
        animation: appear 1s ease $delay + ($item * 25) forwards;
      }
    }
  }
}